<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration> 

	<typeAliases>
		<typeAlias type="com.mvc.prectice.signup.dto.SignupDto" alias="signupDto"/>
		<typeAlias type="com.mvc.prectice.letter.dto.LetterDto" alias="letterDto"/>
		<typeAlias type="com.mvc.prectice.login.dto.LoginDto" alias="loginDto"/>
		<typeAlias type="com.mvc.prectice.board.dto.BoardDto" alias="boardDto"/>
		<typeAlias type="com.mvc.prectice.board.dto.PagingDto" alias="pagingDto"/>
		<typeAlias type="com.mvc.prectice.reply.dto.ReplyDto" alias="replyDto"/>
		<typeAlias type="com.mvc.prectice.chat.dto.ChatRoomDto" alias="chatRoomDto"/>
		<typeAlias type="com.mvc.prectice.chat.dto.ChatListDto" alias="chatListDto"/>
		<typeAlias type="com.mvc.prectice.chat.dto.MassageDto" alias="massageDto"/>
	</typeAliases>
	
    <mappers>
     	<mapper resource="/mybatis/signup-mapper.xml"/>
     	<mapper resource="/mybatis/letter-mapper.xml"/>
     	<mapper resource="/mybatis/login-mapper.xml"/>
     	<mapper resource="/mybatis/board-mapper.xml"/>
     	<mapper resource="/mybatis/reply-mapper.xml"/>
     	<mapper resource="/mybatis/chat-mapper.xml"/>
    </mappers>
    <!-- resource : src/main/resources 를 뜻한다. -->
  
</configuration>