<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="letter">
	<select id="selectNewLetter" resultType="letterDto" parameterType="String">
		SELECT B.* FROM ( SELECT ROWNUM AS RNUM, A.* FROM (SELECT * FROM LETTER WHERE LETTER_READ = 'N' AND LETTER_TO = #{id} ORDER BY LETTER_NO DESC)A )B WHERE RNUM = 1
	</select>
</mapper>